body {
    background-color: #ffff99;
}

.p1{
    padding: 1%;
    background-color: #99ffcc;
  
}

.p2{
    padding: 1%;
    background-color: rgb(170, 170, 170) ;
    margin-left: 20%;
}

.p3{
    padding: 1%;
    background-color: #ff9999
}