th{
 color: rgb(112, 18, 18);
 
}

.cont {
    background-color: orange;
 
}

caption {
    font-weight: bold;
    border-bottom: solid 1px;
}

table {
   border-bottom: solid 1px;
   border-collapse: collapse;
}

.linha1{
    border-top: solid 2px black;

}

.col1{
    border-left: solid 2px black;

}

