header {
    display: flex;
    height: 100px;
    background-color: #1B1540; 
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 0px; 
}

.header-content {
    display: flex;
    align-items: center; 
}

#icon {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

#nome_site {
    color: white;
    font-family: charm-regular;
    margin-right: 10px;
}

.header-image img {
    height: 100px; 
    width: 80%; 
    object-fit: cover;
    position: absolute;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a:visited {
    color: inherit; 
}

main{
    display: flex;
}

.conteudo_principal{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 10px;
    color: #0B62BA;
}

.menu {
    background-image: url(imgs/barra-lateral.png);
    display: flex;
    height: 100vh;
    width: 200px;
    flex-direction: column;
}

.ul_menu {
    list-style: none; 
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}


.ul_menu li {
    position: relative; 
    width: 100%;
}

.ul_menu li::before {
    content: "";
    background-image: url(imgs/seta-menu.png); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px; 
    height: 20px; 
    display: inline-block;
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.ul_menu li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 20px 10px 40px; 
    text-align: left;
    background-color: transparent;
    transition: background-color 0.3s;
}

.ul_menu li a:hover {
    background-color: #5A8BBE; 
    color: white;
}

.ul_menu li a:active, 
.ul_menu li a.active {
    background-color: #5A8BBE;
    color: white;
}


h2{
  border-bottom: #0B62BA solid 2px;
  margin-top: 10px;
}
